<h3>Allgemeine Infos zum BBZ</h3>
<p>
  <ul>
    <li><a href="/files/01/schulordnung.pdf">Schulordnung</a></li>
    <li><a href="/files/01/smartphones.pdf">Smartphoneregelung</a></li>
    <li><a href="/files/01/lehrplan.pdf">Lehrplan</a></li>
    <li>Informatik-Infrastruktur</li>
    <li><a href="/files/01/educanet2.pdf">Educanet</a> (Dateiaustausch; Benachrichtigungen)</li>
    <li><a href="https://drive.google.com/open?id=1vFxXHw-MKlvb94ezNwJbLKb2qxoLRzZXNhqiD5j1TNo">Semesterplan</a>
  </ul>
</p>
<h3>Zahlensysteme</h3>
<p>
  <i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#01_zahlensysteme_umwandeln">Umwandeln von Zahlensystemen</a>
</p>
<p>
  <i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#02_zahlensysteme_rechnen">Rechnen mit Zahlensystemen</a>
</p>
<h3>Test 1 &mdash; Zahlensysteme</h3>
<p>
  <a href="https://docs.google.com/document/d/1nzTUsbLQvGfuT1KdWfQsqeuSO6RUC1PCiuW46EhbLco/edit?usp=sharing">Übungsaufgaben</a>
  <i class="fa fa-check" aria-hidden="true"></i><a href="https://docs.google.com/document/d/1o7ZmAjQAeyFOwj5w9OlAb7trg0fL7iicGdx26WTsKgY/edit">Test 1, 10. und 11.9.2018</a>
</p>
<!--<p><a href="/files/tests/test01-spicker.pdf">Spicker Test 1</a></p>
<p>
  <i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#03_zahlensysteme_repetition">Zahlensysteme Repetition</a>
</p>
<h3>Informationstechnologie Grundlagen</h3>
<p>
  <%= erb :payment %>
</p>
<h3>Binärpräfixe</h3>
<p>
  <ul>
    <li><a href="/files/02/info_grundlagen_prafixe.pdf">Theorie</a></li>
    <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#04_binpref">Übungen Binärpräfixe 1</a></li>
    <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#05_binpref2">Übungen Binärpräfixe 2</a></li>
  </ul>
</p>
-->
