
<div id="main">
  <div id="banner">
    <!--<img src="images/pic01.jpg" alt="" class="image-full" />-->
  </div>
  <div id="welcome">
    <div class="title">
      <h2>Einführung &amp; Zahlensysteme</h2>
      <span class="byline">

      </span>
    </div>
    <p>
      Informationen zum Unterricht und Einführung in das binäre und hexadezimale Zahlensystem.
    </p>
  </div>
  <div id="featured">
    <!--<div class="title">
      <h2>Informationen zum Unterricht</h2>
    </div>-->
    <h3>Allgemeine Infos zum BBZ</h3>
    <p>
      <ul>
        <li><a href="/files/01/schulordnung.pdf">Schulordnung</a></li>
        <li><a href="/files/01/smartphones.pdf">Smartphoneregelung</a></li>
        <li><a href="/files/01/lehrplan.pdf">Lehrplan</a></li>
        <li>Informatik-Infrastruktur</li>
        <li><a href="/files/01/educanet2.pdf">Educanet</a> (Dateiaustausch; Benachrichtigungen)</li>
      </ul>
    </p>
    <h3>Zahlensysteme</h3>
    <p>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#01_zahlensysteme_umwandeln">Umwandeln von Zahlensystemen</a>
    </p>
    <p>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#02_zahlensysteme_rechnen">Rechnen mit Zahlensystemen</a>
    </p>
    <h3>Test 1 &mdash; Zahlensysteme</h3>
    <p>
      <i class="fa fa-check" aria-hidden="true"></i><a href="/files/tests/test01.html">Test 1, 11.9.2017</a>
    </p>
    <p><a href="/files/tests/test01-spicker.pdf">Spicker Test 1</a></p>
    <p>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#03_zahlensysteme_repetition">Zahlensysteme Repetition</a>
    </p>
    <!--<h3>Binärcodes</h3>
    <p>
      <ul>
        <li>Anwendung</li>
        <li>Verarbeitung</li>
        <li>Art der Information</li>
        <li>Paketgrösse</li>
        <li>Fixe/Variable Struktur</li>
        <li>Fehlerüberprüfung oder Fehlerkorrektur</li>
      </ul>
    </p>-->
    <h3>Informationstechnologie Grundlagen</h3>
    <p>
      <%= erb :payment %>
    </p>
    <h3>Binärpräfixe</h3>
    <p>
      <ul>
        <li><a href="/files/02/info_grundlagen_prafixe.pdf">Theorie</a></li>
        <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#04_binpref">Übungen Binärpräfixe 1</a></li>
        <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/exercises.html#05_binpref2">Übungen Binärpräfixe 2</a></li>
        <!--<li><a href="/files/02/info_grundlagen_ubung1.pdf">Übungen 1</a></li>
        <li><a href="/files/02/info_grundlagen_ubung2.pdf">Übungen 2</a></li>-->
      </ul>
    </p>
    <h3>Hardware</h3>
    <ul>
      <li><a href="/files/HW_Schnittstellen.zip">Schnittstellen</a> | <a href="/files/03/q_interfaces.html">Fragen</a></li>
      <li><a href="https://docs.google.com/presentation/d/1BeAfxPgiohKunoypz25ZdmE8HF8cY4CSlt8LNyKT6dg/edit?usp=sharing">Präsentation Hardware</a></li>
      <li><a href="/files/HW_Massenspeicher.zip">Massenspeicher</a></li>
      <li><a href="/files/digilog.html">Logische Schaltungen</a> und <a href="http://www.netzmafia.de/skripten/digitaltechnik/minimierung.html">Optimierung (Kap. 5.3)</a></li>
    </ul>
    <h3>Test 2 &mdash; Hardware</h3>
    <p>
      <i class="fa fa-check" aria-hidden="true"></i><a href="/files/tests/test02.html">MDM2017: Test 2, 20.11./21.11.2017</a>
      <a href="/files/tests/test02_infos.html">Lernziele</a>
    </p>
    
    <h3>Test 3 &mdash; Digitale Schaltungen</h3>
    <p>
      <i class="fa fa-check" aria-hidden="true"></i><a href="/files/tests/test03.html">Test 3, 15.1./16.1.2018</a>
    </p>
    
    <h4>Betriebssysteme</h4>
    <p><a href="https://docs.google.com/presentation/d/1G1CcC3KsSTPgevIu8H55orc9JBLPrd8EO_g9OL8sM-s/edit?usp=sharing">Dienst- und Anwendungssoftware</a></p>
    
    <h3>Programmieren</h3>
    <h5>Präsentationen</h5>
    <ul>
      <li><a href="https://docs.google.com/presentation/d/1wKwxdSfc5hgnDEJKjs07x4mAV6SiTgTh28JAEpBPcnE/edit?usp=sharing">Konditionale</a></li>
      <li><a href="https://docs.google.com/presentation/d/1HsrpDZOYxR1ZXrwR9rkCUyHlsv23wyBtkyrIIDEvBbc/edit?usp=sharing">Schleifen</a></li>
      <li><a href="https://docs.google.com/presentation/d/1Iorf5LmsKQ7pwK5D6NYnqsUFJubIeOyZpDExID6uU1Y/edit?usp=sharing">Funktionen</a></li>
      <li><a href="https://docs.google.com/presentation/d/169Y1P5wWgnzdWPNUqVTA5dJ5JwLCbbE09HrtxIlza0A/edit?usp=sharing">Arrays</a></li>
      <li><a href="https://docs.google.com/presentation/d/1PJwKgT0qdJNABTOPm44hMwzH22fFam8em31U1jyFWlY/edit?usp=sharing">Exceptions</a></li>
      <li><a href="https://docs.google.com/presentation/d/1JPJFWL6DpYkVHHCtN25bKO-ioup4Sp-WPWHUdXsbyuk/edit?usp=sharing">Objektorientierte Programmierung</a></li>
      <li><a href="https://docs.google.com/presentation/d/1jvhyejTT_gq1oHPo3mJBPg0YjRS3yoAWftvlONdypNU/edit?usp=sharing">OOP 2</a></li>
      <li><a href="https://docs.google.com/presentation/d/1l8alIl-CaEeLPc-ctTKOFV1OnZ6sOtPY5c0qbtHNn_o/edit?usp=sharing">Tests</a></li>
      <li><a href="https://docs.google.com/presentation/d/1BnyA8sGumT9rnLkO-drVXRFcwI6IGurWWKQt0UhyfYA/edit?usp=sharing">Interfaces</a></li>
    </ul>
    <h5>Zusammenfassung</h5>
    <p><a href="/files/04/java.html">Java</a> | <a href="/files/04/java_exercises.html">Java Übungen</a></p>
    <p><a href="/files/java/inheritance.html">Vererbung</a></p>
    <p><a href="https://docs.google.com/document/d/1BEzaeY2Cjbx5JjVvP0H5_ad_rwHGYyieoz7QB-lsclo/edit?usp=sharing">Zusammenfassung Java</a></p>
    

    <h3>Datenbanken</h3>
    <ul>
      <li><a href="https://docs.google.com/presentation/d/1ax-a21w1f5-w5bqDmlKizQcUiPdkOoXxFnwosXpEWtY/edit?usp=sharing">Relationales Modell &amp; ERD</a></li>
      <li><a href="https://docs.google.com/presentation/d/1izT7_u7jWbKdcdpSefTNCkjEnAJxX4mOpMySHxT9Jv0/edit?usp=sharing">SQL</a></li>
      <li><a href="https://docs.google.com/document/d/1kSFwTGG5BhKuxWkie08fbfnBtSn46Gixl4VfD30Yjq4/edit?usp=sharing">Aufgaben SQL</a></li>
    </ul>

    <h5>BPI</h5>
    <p><a href="/exercises/exercise03_stairs.html">Programmieren</a></p>
    <p><a href="/exercises/turtle_functions.html">Programmieren - Funktionen</a></p>
    <p><a href="/exercises/turtle_loops.html">Programmieren - Schleifen</a></p>
    <p><a href="/exercises/turtle_rotations.html">Programmieren - Drehen</a></p>
    <p><a href="/exercises/turtle_repetition.html">Programmieren - Wiederholung</a></p>
  </div>
  <!--<div id="welcome">
    <div class="title">
      <h2>Fusce ultrices fringilla metus</h2>
      <span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span>
    </div>
    <p>This is <strong>Privy</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co"
        rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This
          free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license,
          so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit
          for it. Have fun :) </p>
    <ul class="actions">
      <li><a href="#" class="button">Etiam posuere</a></li>
    </ul>
  </div>
  <div id="featured">
    <div class="title">
      <h2>Maecenas lectus sapien</h2>
      <span class="byline">Integer sit amet aliquet pretium</span>
    </div>
    <ul class="style1">
      <li class="first">
        <p class="date"><a href="#">Jan<b>05</b></a></p>
        <h3>Amet sed volutpat mauris</h3>
        <p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
      </li>
      <li>
        <p class="date"><a href="#">Jan<b>03</b></a></p>
        <h3>Sagittis diam dolor amet</h3>
        <p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
      </li>
      <li>
        <p class="date"><a href="#">Jan<b>01</b></a></p>
        <h3>Amet sed volutpat mauris</h3>
        <p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
      </li>
      <li>
        <p class="date"><a href="#">Dec<b>31</b></a></p>
        <h3>Sagittis diam dolor amet</h3>
        <p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
      </li>
    </ul>
  </div>-->
  <div id="copyright">
    <span>&copy; 2017 Lukas Diener. All rights reserved.</a></span>
    <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
  </div>
</div>
