<div class="list">
  <div class="row heading">
    <h3>Allgemeine Infos zum BBZ</h3>
  </div>
  <div class="row">
    <i class="fa fa-file"></i> <a href="/files/01/schulordnung.pdf">Schulordnung</a>
  </div>
  <div class="row">
    <i class="fa fa-file"></i> <a href="/files/01/smartphones.pdf">Smartphoneregelung</a>
  </div>
  <div class="row">
    <i class="fa fa-file"></i> <a href="/files/01/lehrplan.pdf">Lehrplan</a>
  </div>
  <div class="row">
    <i class="fa fa-file"></i> <a href="/files/01/educanet2.pdf">Educanet</a> (Dateiaustausch; Benachrichtigungen)
  </div>
  <div class="row test">
    <i class="fa fa-file"></i> <a href="https://drive.google.com/open?id=1vFxXHw-MKlvb94ezNwJbLKb2qxoLRzZXNhqiD5j1TNo">Semesterplan</a>
  </div>
</div>


<div class="list">
  <div class="row heading">
    <h3>Zahlensysteme</h3>
  </div>
  <div class="row">
    <i class="fa fa-pencil-square-o"></i> <a href="/exercises.html#01_zahlensysteme_umwandeln">Umwandeln von Zahlensystemen</a>
  </div>
  <div class="row">
    <i class="fa fa-pencil-square-o"></i> <a href="/exercises.html#02_zahlensysteme_rechnen">Rechnen mit Zahlensystemen</a>
  </div>
  <div class="row">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1nzTUsbLQvGfuT1KdWfQsqeuSO6RUC1PCiuW46EhbLco/edit?usp=sharing">Übungsaufgaben zum Test</a>
  </div>
  <div class="row test">
    <i class="fa fa-check"></i> <a href="https://docs.google.com/document/d/1o7ZmAjQAeyFOwj5w9OlAb7trg0fL7iicGdx26WTsKgY/edit">Test 1, 10. und 11.9.2018</a>
  </div>
</div>


<div class="list">
  <div class="row heading">
    <h3>Binärpräfixe</h3>
  </div>
  <div class="row">
    <i class="fa fa-file"></i> <a href="/files/02/info_grundlagen_prafixe.pdf">Theorie</a>
  </div>
  <div class="row">
    <i class="fa fa-pencil-square-o"></i> <a href="/exercises.html#04_binpref">Übungen Binärpräfixe 1</a>
  </div>
  <div class="row">
    <i class="fa fa-pencil-square-o"></i> <a href="/exercises.html#05_binpref2">Übungen Binärpräfixe 2</a>
  </div>
</div>

<!--
<a href="/files/tests/test01-spicker.pdf">Spicker Test 1</a></p>
<a href="/exercises.html#03_zahlensysteme_repetition">Zahlensysteme Repetition</a>
-->
