<h3>Hardware</h3>
<ul>
  <li><a href="/files/HW_Schnittstellen.zip">Schnittstellen</a> | <a href="/files/03/q_interfaces.html">Fragen</a></li>
  <li><a href="https://docs.google.com/presentation/d/1BeAfxPgiohKunoypz25ZdmE8HF8cY4CSlt8LNyKT6dg/edit?usp=sharing">Präsentation Hardware</a></li>
  <li><a href="/files/HW_Massenspeicher.zip">Massenspeicher</a></li>
  <li><a href="/files/digilog.html">Logische Schaltungen</a> und <a href="http://www.netzmafia.de/skripten/digitaltechnik/minimierung.html">Optimierung (Kap. 5.3)</a></li>
</ul>
<h3>Test 2 &mdash; Hardware</h3>
<p>
  <i class="fa fa-check" aria-hidden="true"></i><a href="/files/tests/test02.html">MDM2017: Test 2, 20.11./21.11.2017</a>
  <a href="/files/tests/test02_infos.html">Lernziele</a>
</p>
 