<div class="list">
  <div class="row heading">
    <h3>Hardware</h3>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1vt5hY2ZF1mHNK7mHrAjz0rUURmdtaikRJdK04CsT1ck/edit?usp=sharing">EVA</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1zW5rhb1csmlcwAegKyvvCkoYaOeWlBf6_jnN-1APa4Y/edit?usp=sharing">Betriebssysteme</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1pqtx0MU4GOd2Myqpar-fFJBV5BTlqMPcKCjmQjjRAc0/edit?usp=sharing">Schnittstellen</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1BeAfxPgiohKunoypz25ZdmE8HF8cY4CSlt8LNyKT6dg/edit?usp=sharing">Hardware</a>
  </div>
  <div class="row test">
    <i class="fa fa-check" aria-hidden="true"></i><a href="https://docs.google.com/document/d/1Nc1chWi7A62Hv492BJMmjLuf_fJ47tlzwMDLjBju09k/edit?usp=sharing">Test 2, 12. und 13.11.2018</a>
  </div>
</div>

<!--
<li><a href="/files/HW_Schnittstellen.zip">Schnittstellen</a>
<a href="/files/03/q_interfaces.html">Fragen</a>
<a href="/files/HW_Massenspeicher.zip">Massenspeicher</a>
<a href="/files/digilog.html">Logische Schaltungen</a>
<a href="http://www.netzmafia.de/skripten/digitaltechnik/minimierung.html">Optimierung (Kap. 5.3)</a>
-->
