<h4>Digitale Schaltungen</h4>

<ul>
  <li><a href="https://docs.google.com/presentation/d/1rcYxObHLIXwvhT1kpFO09B2yU9n4ds8n_Fp_1K7BfHQ/edit?usp=sharing">Intro</a></li>
</ul>

<h3>Test 3 &mdash; Digitale Schaltungen</h3>
<p>
  <i class="fa fa-check" aria-hidden="true"></i><a href="https://docs.google.com/document/d/1mOLSnLsgfHTuC725nOcDYPAsNq7v7DUHqUnqNhRPUkY/edit?usp=sharing">Test 3, 10. und 11.12.2018</a>
</p>

<!--<h4>Betriebssysteme</h4>
<p><a href="https://docs.google.com/presentation/d/1G1CcC3KsSTPgevIu8H55orc9JBLPrd8EO_g9OL8sM-s/edit?usp=sharing">Dienst- und Anwendungssoftware</a></p>
-->
