<h3>Test 3 &mdash; Digitale Schaltungen</h3>
<p>
  <i class="fa fa-check" aria-hidden="true"></i><a href="/files/tests/test03.html">Test 3, 15.1./16.1.2018</a>
</p>

<h4>Betriebssysteme</h4>
<p><a href="https://docs.google.com/presentation/d/1G1CcC3KsSTPgevIu8H55orc9JBLPrd8EO_g9OL8sM-s/edit?usp=sharing">Dienst- und Anwendungssoftware</a></p>
