<div class="list">
  <div class="row heading">
    <h3>PHP</h3>
  </div>
  <div class="row">
    <i class="fa fa-file"></i> <a href="https://erzbe-my.sharepoint.com/:w:/g/personal/lukas_diener_bbz-cfp_ch/EbVIkWGGYTVJrA5l00ZBw-gB63j8y0qRUgBcQZjrr3oUmw?e=LN9uoU">Zusammenfassung</a>
  </div>
  <div class="row">
    <i class="fa fa-file"></i> <a href="https://erzbe-my.sharepoint.com/:w:/g/personal/lukas_diener_bbz-cfp_ch/EYq9ymX8ApBHglvV1YalzEIBMurofoEmBVrCBbZNuLDb0A?e=zS24EC">Semesterplan</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://erzbe-my.sharepoint.com/:w:/g/personal/lukas_diener_bbz-cfp_ch/EYq9ymX8ApBHglvV1YalzEIBMurofoEmBVrCBbZNuLDb0A?e=zS24EC">Einführung PHP</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://erzbe-my.sharepoint.com/:p:/g/personal/lukas_diener_bbz-cfp_ch/EYYrdTzLme9Hk9Gp-r-i9HYBebfZdrwzj4uA-AWLPX7Baw?e=747keJ">PHP - Formulare</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://erzbe-my.sharepoint.com/:p:/g/personal/lukas_diener_bbz-cfp_ch/EeFErT3U3tVPho6AH_H0hJcBpL9rWdUkaiPjuOnFqSFVhQ?e=C3OWjP">PHP - Login</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://erzbe-my.sharepoint.com/:p:/g/personal/lukas_diener_bbz-cfp_ch/Ed1mF_X3GZBGjM19tC79o8cBAvUOtNkqb4wzzlleP7Fxxw?e=yR8kne">PHP - Cookies</a>
  </div>
</div>

<!--
<h5>BPI</h5>
<p><a href="/exercises/exercise03_stairs.html">Programmieren</a></p>
<p><a href="/exercises/turtle_functions.html">Programmieren - Funktionen</a></p>
<p><a href="/exercises/turtle_loops.html">Programmieren - Schleifen</a></p>
<p><a href="/exercises/turtle_rotations.html">Programmieren - Drehen</a></p>
<p><a href="/exercises/turtle_repetition.html">Programmieren - Wiederholung</a></p>
-->