<h3>Programmieren</h3>
<h5>Präsentationen</h5>
<ul>
  <li><a href="https://docs.google.com/presentation/d/1wKwxdSfc5hgnDEJKjs07x4mAV6SiTgTh28JAEpBPcnE/edit?usp=sharing">Konditionale</a></li>
  <li><a href="https://docs.google.com/presentation/d/1HsrpDZOYxR1ZXrwR9rkCUyHlsv23wyBtkyrIIDEvBbc/edit?usp=sharing">Schleifen</a></li>
  <li><a href="https://docs.google.com/presentation/d/1Iorf5LmsKQ7pwK5D6NYnqsUFJubIeOyZpDExID6uU1Y/edit?usp=sharing">Funktionen</a></li>
  <li><a href="https://docs.google.com/presentation/d/169Y1P5wWgnzdWPNUqVTA5dJ5JwLCbbE09HrtxIlza0A/edit?usp=sharing">Arrays</a></li>
  <li><a href="https://docs.google.com/presentation/d/1PJwKgT0qdJNABTOPm44hMwzH22fFam8em31U1jyFWlY/edit?usp=sharing">Exceptions</a></li>
  <li><a href="https://docs.google.com/presentation/d/1JPJFWL6DpYkVHHCtN25bKO-ioup4Sp-WPWHUdXsbyuk/edit?usp=sharing">Objektorientierte Programmierung</a></li>
  <li><a href="https://docs.google.com/presentation/d/1jvhyejTT_gq1oHPo3mJBPg0YjRS3yoAWftvlONdypNU/edit?usp=sharing">OOP 2</a></li>
  <li><a href="https://docs.google.com/presentation/d/1l8alIl-CaEeLPc-ctTKOFV1OnZ6sOtPY5c0qbtHNn_o/edit?usp=sharing">Tests</a></li>
  <li><a href="https://docs.google.com/presentation/d/1BnyA8sGumT9rnLkO-drVXRFcwI6IGurWWKQt0UhyfYA/edit?usp=sharing">Interfaces</a></li>
</ul>
<h5>Zusammenfassung</h5>
<p><a href="/files/04/java.html">Java</a> | <a href="/files/04/java_exercises.html">Java Übungen</a></p>
<p><a href="/files/java/inheritance.html">Vererbung</a></p>
<p><a href="https://docs.google.com/document/d/1BEzaeY2Cjbx5JjVvP0H5_ad_rwHGYyieoz7QB-lsclo/edit?usp=sharing">Zusammenfassung Java</a></p>
