<div class="list">
  <div class="row heading">
    <h3>Datenbanken</h3>
  </div>
  <div class="row">
    <i class="fa fa-file"></i> <a href="https://docs.google.com/document/d/1TpUjTYzu8omwTn7b88Vp0OFj8IMKzDORzG-hs3mFj7E/edit?usp=sharing">Cheatsheet</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1ax-a21w1f5-w5bqDmlKizQcUiPdkOoXxFnwosXpEWtY/edit?usp=sharing">Relationales Modell &amp; ERD</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1izT7_u7jWbKdcdpSefTNCkjEnAJxX4mOpMySHxT9Jv0/edit?usp=sharing">SQL</a>
  </div>
  <div class="row test">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1LUAO7HGChNQfo2R0caa_yL-eRiAfGInDd17gI6wRNz0/edit?usp=sharing">SQL Zusammenfassung</a>
  </div>
  <div class="row">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1kSFwTGG5BhKuxWkie08fbfnBtSn46Gixl4VfD30Yjq4/edit?usp=sharing">Aufgaben SQL</a> - <a href="https://drive.google.com/open?id=1d2Xh7k5OopBKXpaJNvvcAbNKlVeG-2i5">Lösungen</a>
  </div>
  <div class="row">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/147h1Jh_NZy3qNMlckbBjg5OhlAK7IsuAlY5dJOJ8WHs/edit?usp=sharing">Aufgaben SQL 2</a> - <a href="https://docs.google.com/document/d/1R9n1qv0G9wzyEcukjmD1sQi41xiXNTDDLdmO6WwaXe4/edit?usp=sharing">Lösungen</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1cfGauoB3_Ny_6Rcw4LPMYxsRXkymFGgk25PTjMUPFII/edit?usp=sharing">DB-Design</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1NMtNPM-SVmyue6Dim8fkBnqBGzUUrZKdxksH8q7u--U/edit?usp=sharing">Übersicht</a>
  </div>
  <div class="row">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1t2K9_0CPe8X6n1y2X3MetcQLpWeRAI3dUCpy-BsjgJA/edit?usp=sharing">Aufgaben SQL 3</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1eU-PcMakpy5MQ1lcfm8cCJ1MoUw2cArpJQas4JOejb8/edit?usp=sharing">JDBC</a>
  </div>
</div>
