<h3>Datenbanken</h3>
<ul>
  <li><a href="https://docs.google.com/presentation/d/1ax-a21w1f5-w5bqDmlKizQcUiPdkOoXxFnwosXpEWtY/edit?usp=sharing">Relationales Modell &amp; ERD</a></li>
  <li><a href="https://docs.google.com/presentation/d/1izT7_u7jWbKdcdpSefTNCkjEnAJxX4mOpMySHxT9Jv0/edit?usp=sharing">SQL</a></li>
  <li><a href="https://docs.google.com/document/d/1kSFwTGG5BhKuxWkie08fbfnBtSn46Gixl4VfD30Yjq4/edit?usp=sharing">Aufgaben SQL</a></li>
</ul>
