<h3>Datenbanken</h3>
<a href="https://docs.google.com/document/d/1TpUjTYzu8omwTn7b88Vp0OFj8IMKzDORzG-hs3mFj7E/edit?usp=sharing">Cheatsheet</a>
<ul>
  <li><a href="https://docs.google.com/presentation/d/1ax-a21w1f5-w5bqDmlKizQcUiPdkOoXxFnwosXpEWtY/edit?usp=sharing">Relationales Modell &amp; ERD</a></li>
  <li><a href="https://docs.google.com/presentation/d/1izT7_u7jWbKdcdpSefTNCkjEnAJxX4mOpMySHxT9Jv0/edit?usp=sharing">SQL</a></li>
  <li><a href="https://docs.google.com/presentation/d/1LUAO7HGChNQfo2R0caa_yL-eRiAfGInDd17gI6wRNz0/edit?usp=sharing">SQL Zusammenfassung</a></li>
  <li><a href="https://docs.google.com/document/d/1kSFwTGG5BhKuxWkie08fbfnBtSn46Gixl4VfD30Yjq4/edit?usp=sharing">Aufgaben SQL</a></li>
  <li><a href="https://docs.google.com/presentation/d/1cfGauoB3_Ny_6Rcw4LPMYxsRXkymFGgk25PTjMUPFII/edit?usp=sharing">DB-Design</a></li>
</ul>
