<div class="list">
  <div class="row heading">
    <h3>Netzwerke</h3>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1fRqMjuGayD_4AO-5p2x4IjbLgqg_6jwjTCtKiyYp-rk/edit?usp=sharing">Rechnernetze</a></li>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/11I4HBNmQaAHSQ-ihOD5YN6848UkaJKGfFH35cC5N02g/edit?usp=sharing">Architektur</a></li>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://drive.google.com/open?id=19zmSMytJ0JYKu4EfwKGixV_GUEQkTj5wkHu4hARv4mw">Schichtenmodell</a></li>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://drive.google.com/open?id=1qIavuTVklFl7ok4CoeHAfm9Kxr6TmB7GfjwhPPG4EkA">IP-Adressierung</a></li>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1xRVb4u_4DJFasyjKTzpj0ZQ9_hi_IJUvlA6pGFnQCyU/edit?usp=sharing">Routing</a></li>
  </div>
  <div class="row">
    <i class="fa fa-check"></i> <b><a href="https://erzbe-my.sharepoint.com/:w:/g/personal/lukas_diener_bbz-cfp_ch/EWRnUqGUVwlDlwRySE5l6XkBaVfmXGwZnSJ_Z_Wcgkd2ow?e=K42elB">Testinfos Test 1</a></b></li>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1459DoqwAISrR24awlfYg0t2gUZM_JTCb8epXNxpUxKg/edit?usp=sharing">NAT und Geräte</a></li>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/18WCegbmL0FT7uNveSzC2HbM4l4P2SvUJYM_y8xGyBS8/edit?usp=sharing">HTTP</a></li>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1nJP12hYa63i1YZZGzM-9ZENYiAt8W0rLlfgGorey2Q4/edit?usp=sharing">Wireshark</a></li>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1tQvb8LAQun8ILpE30I7VHUnpDh5BhfRaetmaik-w0kE/edit?usp=sharing">Dark Web</a></li>
  </div>
</div>


<div class="list">
  <div class="row heading">
    <h3>Aufträge</h3>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1_nXHLyGUNd99tb4s78bqLwyVuj89RHPYx8FkgEOJBk8/edit?usp=sharing">Auftrag 21.8.2018</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1ZhIXx-OV7rsklVTfPB1pgoLpLa8GM3nADeNRgNLCIfM/edit?usp=sharing">Auftrag 4.9.2018</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1McuXzdoFTPvaFW1SZXTiz9kX57JDVOEtUCwax1siLtw/edit?usp=sharing">Auftrag 18.9.2018</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> Auftrag 23.9.2018: Testvorbereitung
  </div>
</div>
