<div class="list">
  <div class="row heading">
    <h3>Web-Projekt</h3>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/14ypxt8dmqnj4dlV8jlD6q7rgGHTGgKoVSf_cKBiqZac/edit?usp=sharing">Intro</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1hzXNSrLIAiK04xgqzrghsjTqCYUUG0xAPPYKQOVGE18/edit?usp=sharing">Übungsaufgaben Ruby</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1M2EICpJz83Uv3XjzhvKRm4GNdc4UbDE-LRzAA9cuufg/edit?usp=sharing">ERB</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1NJehzY6-1WkLpLJKlfRKeAtEfYo0Y4FPlk9FMUV8iyo/edit?usp=sharing">Partials &amp; Layouts</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/15NLV9AMDg_sU8_8dbqEynR-8PfauCCv4zTQz97tbgkc/edit?usp=sharing">Formulare</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/195AdY9KnwChqPrAAUjq42MNRhMfvFA-wnjAy-nqAHHY/edit?usp=sharing">Model &amp; DB</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1PbGBI2lAgb8G22ea1KcexeQt396YSHoCbeDezs3Aqro/edit?usp=sharing">Git</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1p-z5EsdyKJQq7wVr_WOkTLjfW8I7bpEqZGmevEZXtJ8/edit?usp=sharing">Deploy</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1UcKRmBl6ihrL3-i4G62apPdLgdg5icP38vcPNXvvTFk/edit?usp=sharing">Tipps &amp; Tricks</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/document/d/1YRP5HBCh9XcOz0vHAQcV2ss7aEhUHKhDd6K7Nu2oHjE/edit?usp=sharing">Zusammenfassung</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/document/d/1SW7WTUv9oAUWmFWYuGuOF8mvpTt7DfpAgfaj-pf1DPk/edit?usp=sharing">Anforderungen Web-Projekt</a>
  </div>
  <div class="row">
    <i class="fa fa-desktop"></i> <a href="https://docs.google.com/presentation/d/1HnPhF4yDbVy0daZI9zvX1V8N9vta3XoVnm_P-bZMNSU/edit?usp=sharing">Login-System</a>
  </div>
</div>


<div class="list">
  <div class="row heading">
    <h3>Aufträge</h3>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/14tkpKcoL4y_BSC9rj-EzYZWQgOY9OWLBXnFipJAzDUE/edit?usp=sharing">Auftrag 6.11.18</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1HNkXCMtWULdz375tr9CQkdzKyVFgsTkwKudaNXEI8rY/edit?usp=sharing">Auftrag 20.11.18</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1Alo3ZbWtOiTZQQFi2d_oWTUinCgz9LbRA1gqflswhvw/edit?usp=sharing">Auftrag 4.12.18</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/18u9rmVPjbKQd4NV1qRA3g5ev2QdheO_ZX6PH7vvzNOc/edit?usp=sharing">Auftrag 18.12.18</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1kmAKsX8z7sarlHDG15VLfjb4wLfuvMrnpLVxbWIKYlo/edit?usp=sharing">Auftrag 22.1.19</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1De09dQMIKavLwkrDIyD-gWK3slifP4synCZy6uCV4GA/edit?usp=sharing">Auftrag 5.2.19</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1DyuJQ4vJ1tTVgsDInEZd3MhzMQAvlVEKSTETAz3CkV0/edit?usp=sharing">Auftrag 19.2.19</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/1MgisSZ3RyU-z9j5sg7eNqI7dm6rcuwcnDdlKFAFM4Oo/edit?usp=sharing">Auftrag 5.3.19</a>
  </div>
  <div class="row highlighted">
    <i class="fa fa-pencil-square-o"></i> <a href="https://docs.google.com/document/d/13uhUlLWTmOTU2KaJHQ0xTAIkERicp8_RmGWNusMIqX8/edit?usp=sharing">Auftrag 19.3.19</a>
  </div>
</div>
