<h3>Web-Projekt</h3>

<h5>Ruby</h5>
<ul>
  <li><a href="https://docs.google.com/presentation/d/14ypxt8dmqnj4dlV8jlD6q7rgGHTGgKoVSf_cKBiqZac/edit?usp=sharing">Intro</a></li>
  <li><a href="https://docs.google.com/presentation/d/1hzXNSrLIAiK04xgqzrghsjTqCYUUG0xAPPYKQOVGE18/edit?usp=sharing">Übungsaufgaben</a></li>
  <li><a href="https://docs.google.com/presentation/d/1M2EICpJz83Uv3XjzhvKRm4GNdc4UbDE-LRzAA9cuufg/edit?usp=sharing">ERB</a></li>
  <li><a href="https://docs.google.com/presentation/d/1NJehzY6-1WkLpLJKlfRKeAtEfYo0Y4FPlk9FMUV8iyo/edit?usp=sharing">Partials &amp; Layouts</a></li>
  <li><a href="https://docs.google.com/presentation/d/15NLV9AMDg_sU8_8dbqEynR-8PfauCCv4zTQz97tbgkc/edit?usp=sharing">Formulare</a></li>
  <li><a href="https://docs.google.com/presentation/d/1p-z5EsdyKJQq7wVr_WOkTLjfW8I7bpEqZGmevEZXtJ8/edit?usp=sharing">Deploy</a></li>
  <li><a href="https://docs.google.com/presentation/d/1UcKRmBl6ihrL3-i4G62apPdLgdg5icP38vcPNXvvTFk/edit?usp=sharing">Tipps &amp; Tricks</a></li>
  <li><a href="https://docs.google.com/document/d/1YRP5HBCh9XcOz0vHAQcV2ss7aEhUHKhDd6K7Nu2oHjE/edit?usp=sharing">Zusammenfassung</a></p>
</ul>

<h5>Auftrag 6.11.2018</h5>
<p><a href="https://docs.google.com/document/d/14tkpKcoL4y_BSC9rj-EzYZWQgOY9OWLBXnFipJAzDUE/edit?usp=sharing">Auftrag</a></p>
<h5>Auftrag 20.11.2018</h5>
<p><a href="https://docs.google.com/document/d/1HNkXCMtWULdz375tr9CQkdzKyVFgsTkwKudaNXEI8rY/edit?usp=sharing">Auftrag</a></p>
<h5>Auftrag 4.12.2018</h5>
<p><a href="https://docs.google.com/document/d/1Alo3ZbWtOiTZQQFi2d_oWTUinCgz9LbRA1gqflswhvw/edit?usp=sharing">Auftrag</a></p>
