<h3>Web-Projekt</h3>

<h5>Ruby</h5>
<ul>
  <li><a href="https://docs.google.com/presentation/d/14ypxt8dmqnj4dlV8jlD6q7rgGHTGgKoVSf_cKBiqZac/edit?usp=sharing">Intro</a></li>
  <li><a href="https://docs.google.com/presentation/d/1hzXNSrLIAiK04xgqzrghsjTqCYUUG0xAPPYKQOVGE18/edit?usp=sharing">Übungsaufgaben</a></li>
</ul>

<h5>Auftrag 6.11.2018</h5>
<p><a href="https://docs.google.com/document/d/14tkpKcoL4y_BSC9rj-EzYZWQgOY9OWLBXnFipJAzDUE/edit?usp=sharing">Auftrag</a></p>
<h5>Auftrag 20.11.2018</h5>
<p><a href="https://docs.google.com/document/d/1HNkXCMtWULdz375tr9CQkdzKyVFgsTkwKudaNXEI8rY/edit?usp=sharing">Auftrag</a></p>