<h5>Netzwerke</h5>
<ul>
  <li><a href="https://docs.google.com/presentation/d/1fRqMjuGayD_4AO-5p2x4IjbLgqg_6jwjTCtKiyYp-rk/edit?usp=sharing"><i class="fa fa-desktop" aria-hidden="true"></i> Rechnernetze</li>
  <li><a href="https://docs.google.com/document/d/1_nXHLyGUNd99tb4s78bqLwyVuj89RHPYx8FkgEOJBk8/edit?usp=sharing">Auftrag</a></li>
  <li><a href="https://docs.google.com/presentation/d/11I4HBNmQaAHSQ-ihOD5YN6848UkaJKGfFH35cC5N02g/edit?usp=sharing"><i class="fa fa-desktop" aria-hidden="true"></i> Architektur</li>
  <li><a href="https://drive.google.com/open?id=19zmSMytJ0JYKu4EfwKGixV_GUEQkTj5wkHu4hARv4mw">Schichtenmodell</a></li>
  <li><a href="https://drive.google.com/open?id=1qIavuTVklFl7ok4CoeHAfm9Kxr6TmB7GfjwhPPG4EkA">IP-Adressierung</a></li>
  <li><a href="https://docs.google.com/presentation/d/1xRVb4u_4DJFasyjKTzpj0ZQ9_hi_IJUvlA6pGFnQCyU/edit?usp=sharing">Routing</a></li>
  <li><a href="https://docs.google.com/presentation/d/1459DoqwAISrR24awlfYg0t2gUZM_JTCb8epXNxpUxKg/edit?usp=sharing">NAT und Geräte</a></li>
  <li><a href="https://docs.google.com/presentation/d/18WCegbmL0FT7uNveSzC2HbM4l4P2SvUJYM_y8xGyBS8/edit?usp=sharing">HTTP</a></li>
</ul>

<h5>Auftrag 4.9.2018</h5>
<p><a href="https://docs.google.com/document/d/1ZhIXx-OV7rsklVTfPB1pgoLpLa8GM3nADeNRgNLCIfM/edit?usp=sharing">Auftrag und Skript</a></p>

<h5>Auftrag 18.9.2018</h5>
<p><a href="https://docs.google.com/document/d/1McuXzdoFTPvaFW1SZXTiz9kX57JDVOEtUCwax1siLtw/edit?usp=sharing">Auftrag</a></p>

<form action="/formtest1" method="GET">
  <p>Suchbegriff <input type="text" name="search_term"></p>
  <input type="submit" value="Suchen">
</form>

<form action="/formtest2" method="POST">
  <p>Username <input type="text" name="username"></p>
  <p>Passwort <input type="text" name="password"></p>
  <input type="submit" value="Login">
</form>
