<%
  pages = Dir.glob 'views/courses/*'
  pages.sort!
  pages.map! { |page| page.split('/').last.split('.').first }
  pages = pages.first(1) + pages.last(1)

  currentpage = request.path_info.split('/').last
%>

<div id="menu">
  <ul>
    <% pages.each do |page| %>
      <% if page == currentpage %>
        <li class="current_page_item"><a href="/courses/<%= page %>" accesskey="1" title=""><%= settings.PAGE_NAMES[page] %></a></li>
      <% else %>
        <li><a href="/courses/<%= page %>" accesskey="1" title=""><%= settings.PAGE_NAMES[page] %></a></li>
      <% end %>
    <% end %>
    <!--<li><a href="#" accesskey="2" title="">Our Clients</a></li>
    <li><a href="#" accesskey="3" title="">About Us</a></li>
    <li><a href="#" accesskey="4" title="">Careers</a></li>
    <li><a href="#" accesskey="5" title="">Contact Us</a></li>-->
  </ul>
</div>
