<div id="main">
  <div id="banner">
    <!--<img src="images/pic01.jpg" alt="" class="image-full" />-->
  </div>
  <div id="welcome">
    <div class="title">
      <h2>Zahlung erfolgreich</h2>
      <span class="byline">

      </span>
    </div>
    <p>
      Vielen Dank für deine Zahlung von CHF <%= @amount / 100.0 %>.
    </p>
  </div>
</div>
